@import '../variables';

@mixin radius($size) {
    @if map-has-key($border-radiuses, $size) {
        border-radius: map-get($border-radiuses, $size);
    } 
    @else {
        @error "Invalid border-radius size: '#{$size}'.";
    }
}

@mixin radius-t($size) {
    @if map-has-key($border-radiuses, $size) {
        border-top-left-radius: map-get($border-radiuses, $size);
        border-top-right-radius: map-get($border-radiuses, $size);
    } 
    @else {
        @error "Invalid border-radius size: '#{$size}'.";
    }
}

@mixin radius-tl($size) {
    @if map-has-key($border-radiuses, $size) {
        border-top-left-radius: map-get($border-radiuses, $size);
    } 
    @else {
        @error "Invalid border-radius size: '#{$size}'.";
    }
}

@mixin radius-tr($size) {
    @if map-has-key($border-radiuses, $size) {
        border-top-right-radius: map-get($border-radiuses, $size);
    } 
    @else {
        @error "Invalid border-radius size: '#{$size}'.";
    }
}

@mixin radius-b($size) {
    @if map-has-key($border-radiuses, $size) {
        border-bottom-left-radius: map-get($border-radiuses, $size);
        border-bottom-right-radius: map-get($border-radiuses, $size);
    } 
    @else {
        @error "Invalid border-radius size: '#{$size}'.";
    }
}

@mixin radius-bl($size) {
    @if map-has-key($border-radiuses, $size) {
        border-bottom-left-radius: map-get($border-radiuses, $size);
    } 
    @else {
        @error "Invalid border-radius size: '#{$size}'.";
    }
}

@mixin radius-br($size) {
    @if map-has-key($border-radiuses, $size) {
        border-bottom-right-radius: map-get($border-radiuses, $size);
    } 
    @else {
        @error "Invalid border-radius size: '#{$size}'.";
    }
}

@mixin radius-l($size) {
    @if map-has-key($border-radiuses, $size) {
        border-radius: 0;
        border-bottom-left-radius: map-get($border-radiuses, $size);
        border-top-left-radius: map-get($border-radiuses, $size);
    } 
    @else {
        @error "Invalid border-radius size: '#{$size}'.";
    }
}

@mixin radius-r($size) {
    @if map-has-key($border-radiuses, $size) {
        border-radius: 0;
        border-bottom-right-radius: map-get($border-radiuses, $size);
        border-top-right-radius: map-get($border-radiuses, $size);
    } 
    @else {
        @error "Invalid border-radius size: '#{$size}'.";
    }
}
