$color-primary: #03284C;
$color-secondary: #159957;
$color-tertiary: #59110C;


$color-primary--lighter: lighten($color-primary, 20%);
$color-primary--darker: darken($color-primary, 20%);

$color-primary--lighter: lighten($color-primary, 20%);
$color-primary--darker: darken($color-primary, 20%);

$color-primary--lighter: lighten($color-primary, 20%);
$color-primary--darker: darken($color-primary, 20%);
