@import "../00_Abstracts/index.scss";

.demo {
    color: white;
    background-color: $color-secondary;
    box-shadow: inset 0 3px 10px rgba(0,0,0,1);
    margin: 3rem -1000px;

    &__text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: white;
        font-size: 2rem;
    }
}