@import "../00_Abstracts/index";

.sidebar {
    .sidebar-links {
        .sidebar-link {
            &:hover ,
            &.active {
                color: color(primary);
                border-left-color: transparent;
            }
        }

        .sidebar-group {
            .sidebar-heading {
                &:not(.clickable) {
                    opacity: 1 !important;
                }

                &.open {
                    > span:first-child {
                        padding-left: 8px;
                        margin-left: -11px;
                        border-left: solid 3px color(primary);
                    }
                }
            }
        }
    }
}
