<div class="list-group c-sub-nav" id="list-tab" role="tablist">
    <a class="list-group-item list-group-item-action js-docs-new" href="{{ site.baseurl }}/documentation/new/"
        aria-controls="new project">New Project</a>
    <a class="list-group-item list-group-item-action js-docs-architecture" href="{{ site.baseurl }}/documentation/architecture/"
        aria-controls="architecture">Architecture</a>
    <a class="list-group-item list-group-item-action js-docs-add" href="{{ site.baseurl }}/documentation/add/"
        aria-controls="add and remove files">Add / Remove Files</a>
    <a class="list-group-item list-group-item-action js-docs-config" href="{{ site.baseurl }}/documentation/configuration/"
        aria-controls="configuration">Configuration</a>
</div>
