<head>
  <meta charset="UTF-8">
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#03284C">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page.title }} - Clarion">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="Clarion CLI">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:title" content="{{ page.title }} - Clarion">

  <title>{{ page.title }} - Clarion</title>
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/build/styles.css">
  {% include google-analytics.html %}
</head>