<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark main-menu">
    <a class="navbar-brand" href="/">Clarion</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item quick-start">
          <a class="nav-link" href="/">Quick Start</a>
        </li>
        <li class="nav-item documentation">
          <a class="nav-link" href="/documentation/">Documentation</a>
        </li>
        <li class="nav-item examples">
          <a class="nav-link" href="/examples/">Examples</a>
        </li>
        <li class="nav-item contact">
          <a class="nav-link" href="/contact/">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://www.npmjs.com/package/clarion"><img src="/images/npm_icon_white.png" alt="npm icon"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://github.com/break-stuff/clarion"><img src="/images/githubwhite.png" alt="github icon"></a>
        </li>
      </ul>
    </div>
  </nav>