@import "../00_Abstracts/index.scss";

.btn-primary {
    color: white;
    background-color: $color-primary;
    border-color: $color-primary;

    &:hover {
        background-color: $color-primary--lighter;
        border-color: $color-primary--lighter;
    }
}
