@import '../00_Abstracts/index';

.button {
    cursor: pointer;
    @include font-size(md);
    @include py(md);
    @include px(xl);

    @each $color, $value in $theme-colors {
        &.#{$color} {
            background-color: color($color);
            color: text-color($color);

            &.hollow {
                background-color: transparent;
                color: color($color) !important;
                @include border(solid, 3xs, $color);
            }    
        }
    }
}