@import '../00_Abstracts/index';

$variations: ('lighter', 'light', 'base', 'dark', 'darker');

@each $color, $value in $theme-colors {
    .color-#{$color} {
        color: color($color) !important;
    }

    .bg-#{$color} {
        background-color: color($color) !important;
        color: text-color($color);
    }

    @each $variation in $variations {
        .color-#{$color}-#{$variation} {
            background-color: color($color, $variation) !important;
        }

        .bg-#{$color}-#{$variation} {
            background-color: color($color, $variation) !important;
            color: text-color($color, $variation);
        }
    }
}