@import '../variables';
@import '../functions/spacing';

@mixin m($top: auto, $bottom: null, $left: null, $right: null) {
    @if ($top and not $bottom and not $left and not $right) {
        @include mx($top);
        @include my($top);
    } @else {
        @include mt($top);
        @include mb($bottom);
        @include ml($left);
        @include mr($right);
    }
}

@mixin mx($left: auto, $right: null) {
    @if ($left and $right) {
        @include ml($left);
        @include mr($right);
    } @else if ($left and not $right) {
        @include ml($left);
        @include mr($left);
    } @else {
        @error "mx(#{$left}, #{$right}): Invalid parameters. Expects mx($size) or mx($left, $right)";
    }
}

@mixin my($top : auto, $bottom : null) {
    @if ($top and $bottom) {
        @include mt($top);
        @include mb($bottom);
    } @else if ($top and not $bottom) {
        @include mt($top);
        @include mb($top);
    } @else {
        @error "my(#{$top}, #{$bottom}): Invalid parameters. Expects my($size) or my($top, $bottom)";
    }
}

@mixin ml($size) {
    margin-left: spacing($size);
}

@mixin mt($size) {
    margin-top: spacing($size);
}

@mixin mr($size) {
    margin-right: spacing($size);
}

@mixin mb($size) {
    margin-bottom: spacing($size);
}

@mixin p($top: auto, $bottom: null, $left: null, $right: null) {
    @if ($top and not $bottom and not $left and not $right) {
        @include px($top);
        @include py($top);
    } @else {
        @include pt($top);
        @include pb($bottom);
        @include pl($left);
        @include pr($right);
    }
}

@mixin px($left: auto, $right: null) {
    @if ($left and $right) {
        @include pl($left);
        @include pr($right);
    } @else if ($left and not $right) {
        @include pl($left);
        @include pr($left);
    } @else {
        @error "px(#{$left}, #{$right}): Invalid parameters. Expects px($size) or px($left, $right)";
    }
}

@mixin py($top : 1, $bottom : null) {
    @if ($top and $bottom) {
        @include pt($top);
        @include pb($bottom);
    } @else if ($top and not $bottom) {
        @include pt($top);
        @include pb($top);
    } @else {
        @error "py(#{$top}, #{$bottom}): Invalid parameters. Expects py($size) or py($top, $bottom)";
    }
}

@mixin pl($size : auto) {
    padding-left: spacing($size);
}

@mixin pt($size : auto) {
    padding-top: spacing($size);
}

@mixin pr($size : auto) {
    padding-right: spacing($size);
}

@mixin pb($size : auto) {
    padding-bottom: spacing($size);
}
