@import "../00_Abstracts/index.scss";

html, body {
    font-size: 16px;
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    padding-top: 100px;
    display: flex;
    min-height: calc(100vh - 100px);
    flex-direction: column;
    overflow-x: hidden;
}

main {
    // min-height: 100%;
    // margin: 0 auto -40px;
    // overflow-x: hidden;
    // padding-bottom: 40px;
}

#__nuxt,
#__layout,
#__layout > div,
.page-wrapper {
    height: 100%;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}