@import "../00_Abstracts/index";

.row {
    display: flex;

    .col {
        flex-grow: 1;
        flex-basis: 0;
    }
}

.grid {
    &-wrap {
        display: flex;
        flex-wrap: wrap;

        &.col-3 {
            > * {
                box-sizing: border-box;
                width: 33%;
                @include p(md);

                @include breakpoint-below(md) {
                    width: 50%;
                }

                @include breakpoint-below(sm) {
                    width: 100%;
                }
            }
        }
    }
}
