@import '../variables';
@import '../functions/colors';

@mixin box-shadow($size: sm) {
    @if($size == sm) {
        box-shadow: 0 2px 2px 0 color(black, base, .14), 
                    0 3px 1px -2px color(black, base, .2), 
                    0 1px 5px 0 color(black, base, .12);
    } @else if($size == md) {
        box-shadow: 0 3px 3px 1px color(black, base, .14), 
                    0 4px 2px -3px color(black, base, 0.2), 
                    0 2px 6px 1px color(black, base, 0.12);
    } @else if($size == lg) {
        box-shadow: 0 9px 46px 8px color(black, base, .14), 
                    0 11px 15px -7px color(black, base, 0.12), 
                    0 24px 38px 3px color(black, base, 0.2);
    } @else if($size == none) {
        box-shadow: none;
    }
}
