@import '../00_Abstracts/index';

.color-palette {
    display: flex;
    flex-direction: column;

    .color {
        display: flex;
        flex-direction: column;
        @include mb(xs);
        @include ml(xs);

        .card-body {
            @include p(md);

            .base {
                height: 4rem;
                box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
                border: solid 1px color(light);
                // border: solid 2px white;
                @include p(sm);
            }
    
            .variations {
                display: flex;
                flex-direction: row;
                width: 100%;
    
                .variation {
                    height: 4rem;
                    width: 20%;
                    border: solid 1px color(light, lighter);
                    // border: solid 2px white;
                    @include p(sm);
                }
            }
        }
    }
}
