@import "../00_Abstracts/index.scss";
.main-menu {
    background-color: $color-primary;
    background-image: linear-gradient(120deg, $color-primary, $color-secondary);
    box-shadow: 0 3px 10px black;
    .navbar-brand {
        font-weight: 300;
        font-family: $font-lato;
        font-size: 3rem;
    }
    .nav-item {
        font-family: $font-lato;
        .nav-link {
            color: rgba(250, 250, 250, .65);
        }

        img {
            max-height:20px;
        }
    }
}

.footer-menu {
    background-color: $color-primary;
    color: white;
    padding-bottom: 32px;
    a {
        font-weight: bold;
        color: white;
    }
}